{% extends 'base.html' %}
<head>
    {% block styles %}
            <link rel="stylesheet" type="text/css" 
            href="{{url_for('static', filename='css/controleFinan.css')}}">
            <link rel="stylesheet" type="text/css" 
            href="{{url_for('static', filename='css/base.css')}}">
            {{ bootstrap.load_css() }}
    {% endblock %}
</head>
{% block title %}Cadastro{% endblock %}
{% block content %}
<div class="loading">
    <div class="load"></div>
</div>

    {% if finanService %}
    <section>
        <h1>Receitas</h1>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th scope="col">Receitas</th>
                <th scope="col">Valor (R$)</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            {% for receita in finanService.receitas %}
                <tr>
                    <td>{{receita.nome_receita}}</td>
                    <td>{{ receita.renda }}</td>
                    <td></td>
                    <td>
                        <form method="post" action="{{ url_for('finance.deleteReceita') }}">
                            {{ form.csrf_token }}
                            <input type="hidden" name="receita_id" value="{{ receita['_id'] }}">
                            <button><ion-icon name="trash-outline"></ion-icon></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <!-- Calcular total de receitas -->
            <tr class="font-weight-bold">
                <td>Total de Receitas</td>
                <td>{{ totalReceitas }}</td>
            </tr>
            </tbody>
          </table>
        </div>
    </section>
    <div class="button-adic">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalReceitas">
            Adicionar Receita(Ganhos)
        </button>
    </div>
    <section>
        <h1>Despesas</h1>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th scope="col">Despesas</th>
                <th scope="col">Valor (R$)</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                {% for gasto in finanService.gastos %}
                    <tr>
                        <td>{{ gasto.nome_gasto }}</td>
                        <td>{{ gasto.valor }}</td>
                        <td>
                        <form method="post" action="{{ url_for('finance.deleteDespesa') }}">
                            {{ form.csrf_token }}
                            <input type="hidden" name="gasto_id" value="{{ gasto['_id'] }}">
                            <button><ion-icon name="trash-outline"></ion-icon></button>
                        </form>
                        </td>
                    </tr>
                {% endfor %}
                <tr class="font-weight-bold">
                    <td>Total de Despesas</td>
                    <td>{{ totalGastos }}</td>
                </tr>
            </tbody>
          </table>
        </div>
    </section>
    <div class="button-adic">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalDespesas">
            Adicionar Despesas(Gastos)
        </button>
    </div>
    <section>
        <h1>Resultado</h1>
        <div class="tbl-header2">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th scope="col">Ganhos</th>
                <th scope="col">Gastos</th>
                <th scope="col">Final</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content2">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td>{{totalReceitas}}</td>
                    <td>{{totalGastos}}</td>
                    <td>R${{ totalReceitas - totalGastos}}</td>
                </tr>
            </tbody>
          </table>
        </div>
    </section>
    <script>
        $(window).on("load resize ", function() {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css({'padding-right':scrollWidth});
        }).resize();
    </script>
    <div class="chat-btn" id="chat-btn">
        <button class="btn btn-success" id="chat-toggle-btn">Chat</button>
    </div>
        {% else %}
                <div class="nada-cadastrado">
                    <div class="blockcontent">
                        <div class="blockleft">
                            <h1>O que é a DRE?</h1>
                            <p>A DRE pessoal é uma Demonstração do Resultado do Exercício adaptada para finanças pessoais. Ela
                                mostra receitas, despesas e o saldo de uma pessoa em um período, ajudando a entender e controlar
                                melhor a saúde financeira individual.</p>
                            <br>
                            <br>
                            <br>
                            <h1>Como começar?</h1>
                            <p>Para começar, use o botão abaixo. Adicione seus gastos e sua renda mensal. 
                                Depois, você pode adicionar novos campos em ambos os seguimentos. 
                                Caso queira receber uma análise baseada nos seus dados, use o botão Chat. <b>Chat</b></p>
                        </div>
                        <div class="blockright">
                            <a href="https://storyset.com/business"></a>
                                <img src="/static/imgs/Business Plan (3).gif" alt="gif">
                            </a>
                        </div>
                    </div>
                    <div class="botaochat">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalGeral">
                            Começar o uso da DRE
                        </button>
                    </div>
                </div>
    {% endif %}
    
    <script>
        document.getElementById('chat-toggle-btn').addEventListener('click', function() {
            document.querySelector('.loading').classList.add('active');

            fetch('/finance/chat', {
                method: 'GET',
            })
            .then(response => response.text())
            .then(data => {
                // Adicionar quebras de linha para criar parágrafos
                var paragraphs = data.split("\n");
                var formattedData = "";
                paragraphs.forEach(paragraph => {
                    formattedData += "<p>" + paragraph + "</p>";
                });

                document.getElementById('chat-body').innerHTML = formattedData;
                var modal = new bootstrap.Modal(document.getElementById('modal-chat'));
                modal.show();
            })
            .catch((error) => {
                console.error('Erro ao carregar as respostas do assistente financeiro:', error);
            })
            .finally(() => {
                document.querySelector('.loading').classList.remove('active');
            });
        });
    </script>
        <!-- Modal de Chat -->
        <div class="modal fade" id="modal-chat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark text-light">
                    <div class="modal-header">
                        <h5 class="modal-title">Assistente Financeiro</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body" id="chat-body">
                        <!-- Aqui serão exibidas as respostas do assistente financeiro -->
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

    
    <!-- Modal -->
    <div class="modal fade" id="modalDespesas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Despesas</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body" action="finance.finance">
                    <form method="POST" action="{{ url_for('finance.despesas') }}">
                        {{ form.hidden_tag() }}
                    
                        
                        <div class="form-group">
                            {{ form.nome_gasto.label(class="form-label") }}
                            {{ form.nome_gasto(class="form-control") }}
                            {% if form.nome_gasto.errors %}
                                <ul class="errors">
                                    {% for error in form.nome_gasto.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        
                        <div class="form-group">
                            {{ form.valor.label(class="form-label") }}
                            {{ form.valor(class="form-control") }}
                            {% if form.valor.errors %}
                                <ul class="errors">
                                    {% for error in form.valor.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-success">Adicionar despesa</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalGeral" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">DRE(Demonstração do Resultado do Exercício)</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body" action="finance.finance">
                    <form method="POST" action="{{ url_for('finance.finance') }}">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.nome_receita.label(class="form-label") }}
                            {{ form.nome_receita(class="form-control") }}
                            {% if form.nome_receita.errors %}
                                <ul class="errors">
                                    {% for error in form.nome_receita.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.renda.label(class="form-label") }}
                            {{ form.renda(class="form-control") }}
                            {% if form.renda.errors %}
                                <ul class="errors">
                                    {% for error in form.renda.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        
                        <div class="form-group">
                            {{ form.nome_gasto.label(class="form-label") }}
                            {{ form.nome_gasto(class="form-control") }}
                            {% if form.nome_gasto.errors %}
                                <ul class="errors">
                                    {% for error in form.nome_gasto.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        
                        <div class="form-group">
                            {{ form.valor.label(class="form-label") }}
                            {{ form.valor(class="form-control") }}
                            {% if form.valor.errors %}
                                <ul class="errors">
                                    {% for error in form.valor.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Adicionar Dados</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalReceitas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Receitas</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body" action="finance.finance">
                    <form method="POST" action="{{ url_for('finance.receitas') }}">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.nome_receita.label(class="form-label") }}
                            {{ form.nome_receita(class="form-control") }}
                            {% if form.nome_receita.errors %}
                                <ul class="errors">
                                    {% for error in form.nome_receita.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.renda.label(class="form-label") }}
                            {{ form.renda(class="form-control") }}
                            {% if form.renda.errors %}
                                <ul class="errors">
                                    {% for error in form.renda.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-success">Adicionar receita</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
{% endblock %}
