{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}
{% block content %}
    <h1>Formulário de cadastro</h1>

    {% if finanService %}
        {{finanService.label}}
    {% else %}
        <p>Nada Cadastrado no momento</p>
    {% endif %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Exemplo de Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <h2>Formulário de cadastro no modal</h2>
                    <form method="POST">
                        {% for field in form %}
                            {{ field.label(class="form-label") }}
                            {{ field(class="form-control") }}
                            {% if field.errors %}
                                <ul class="errors">
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Adicionar despesa</button>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Abrir Modal
    </button>

{% endblock %}