@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.cinzel {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}
.loading {
    position: fixed;
    display: none;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.load {
    width: 200px;
    height: 200px;
    border: 10px solid #16db65;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: load 0.8s infinite;
}

@keyframes load {
    to {
        transform: rotate(360deg);
    }
}

.loading.active {
    display: flex;
}

.text-trade{
    background-color: #0e0f11;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0px;
}
.text-trade h1{
    background-color: #0e0f11;
    margin-bottom: .0rem !important;
    color: snow;
    font-size: 30px;
}
.text-trade p{
    background-color: #0e0f11;
    margin-bottom: .0rem !important;
    color: snow;
}
.ajustcard{
    height: 276px;
    width: 530px;
    position: absolute;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}
.card-flip {
    justify-content: center;
    cursor: pointer;
    perspective: 1000px;
    z-index: 3;
    transform-style: preserve-3d;
    transition: all .9s;
    position: relative;
}

.card-frente,
.card-verso { 
    height: 276px;
    width: 530px;
    border-radius: 15px;
    backface-visibility: hidden;
    display: flex;
    padding: 5%;
    position: absolute;
    
}

.card-frente {
    background-color: #040303;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    transform: rotateY(180deg);
}

.card-verso {
    background-color: #040303;
    color: #16db65;
    transform: rotateY(0deg);
    padding: 9%;
}

.flip {
    transform: rotateY(180deg);
}

.card-verso  button:hover {
    color: #16db65;
    border: #058c42;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 300px;
    display: flex;
}

.ticker-card {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: #f8f9fa;
}
.ticker-details {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ticker-detail-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.ticker-detail-item p {
    font-size: 15px;
    border-bottom: 2px solid #058c42;
}
.ticker-detail-item button {
    font-size: 15px;
    border: 2px solid #058c42;
    color: #058c42;
}
.container {
    max-width: 1200px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
}
.pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    z-index: 3;
    
}
.pagination a.active {
    background-color: #007bff;
    color: white;
    position: relative;
}
.background {
    position: relative;
    overflow: hidden;
    display: flex;
    z-index: 2;
    background-color: #0e0f11;
    text-align: center;
    align-content: center;
    padding-left: 8vw;
    padding-right: 8vw;
}
