@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.cinzel {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}
h1{
    backface-visibility: hidden;
}
.card-flip {
    justify-content: center;
    cursor: pointer;
    perspective: 1000px;
    z-index: 2;
    transform-style: preserve-3d ;
    transition: all .9s;
    transform: translateZ(0);
    transition-behavior: smooth;

}

.card-frente,
.card-verso { 
    height: 276px;
    width: 530px;
    border-radius: 15px;
    backface-visibility: hidden;
    display: flex;
    position: absolute;
    padding: 5%;
}

.card-frente {
    background-color: #040303;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    transform: rotateY(180deg);
}
.card-verso {
    background-color: #035e00;
    color: #040303;
    transform: rotateY(0deg);
    margin-left: 16.9%;
    
    
}
.flip {
    transform: rotateY(180deg);
}

.card-verso  button {
    color: #040303;
}

.card-verso  button:hover {
    color: gray;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 300px;
}

.ticker-card {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: #f8f9fa;
}
.ticker-details {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ticker-detail-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.ticker-detail-item p {
    font-size: 15px;
}
.container {
    max-width: 1200px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    z-index: 3;
}
.pagination a.active {
    background-color: #007bff;
    color: white;
}
.animacao {
    overflow: hidden;
    display: flex;
    z-index: 1;
    background-color: #343a40;
}
.animacao .block {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #444;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}
.animacao.circle .block {
    border-radius: 50%;
}
.animacao .block:nth-child(3n + 1) {
    background: #04260359;
}
.animacao .block:nth-child(3n + 2) {
    background: #0cbf061c;
}
.animacao .block:nth-child(3n + 3) {
    background: #73f56f1e;
}