<!-- base.html -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Site{% endblock %}</title>
    <!-- Adicione aqui seus links para CSS, JS, etc. -->
</head>
<body>

<header>
    <!-- Aqui vai o cabeçalho do seu site -->
    <h1>Meu Site</h1>
    <nav>
        <ul>
            <li><a href="/">Página Inicial</a></li>
            <li><a href="">Controle Financeiro</a></li>
            <li><a href="">Investimentos</a></li>
            {% if 'usuario' in session and session['usuario'] != "" %}
                <li>{{ session['usuario'] }}</li>
                <li><a href="{{ url_for('auth.logout') }}">Sair</a></li>
            {%else%}
                <li><a href="">Cadastro</a></li>
                <li><a href="">Login</a></li>
            {%endif%}
            <li><a href="/sobre">Sobre</a></li>
            <!-- Adicione mais itens de menu conforme necessário -->
        </ul>
    </nav>
</header>

<main>
    <!-- Aqui vai o conteúdo específico de cada página -->
    {% block content %}{% endblock %}
</main>

<footer>
    <!-- Rodapé do seu site -->
    <p>&copy; 2024 Meu Site. Todos os direitos reservados.</p>
</footer>

</body>
</html>