<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanças</title>
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}">
        {{ bootstrap.load_css() }}
    {% endblock %}
</head>
<body>

    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-darkgray">
            <div class="container">
                <a class="navbar-brand" href="/">Meu Site</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index.index') }}">Página Inicial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('finance.finance') }}">Controle Financeiro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('trade.investment') }}">Investimentos</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/Noticias">Sobre</a>
                        </li>
                        <div id="nbarmax" class="user_Sair">
                            {% if 'usuario' in session and session['usuario'] != "" %}
                            {% set nomeuser = session['usuario'] %}
                                <li class="nav-item">
                                    <span class="nav-link">{{nomeuser}}</span>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Sair</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('auth.cadastro')}}">Cadastrar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
                                </li>
                            {% endif %}
                        </div>
                        <div id="nbarmini">
                            {% if 'usuario' in session and session['usuario'] != "" %}
                            {% set nomeuser = session['usuario'] %}
                                <li class="nav-item">
                                    <span class="nav-link">{{nomeuser}}</span>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Sair</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('auth.cadastro')}}">Cadastrar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
                                </li>
                            {% endif %}
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<main>
    <!-- Aqui vai o conteúdo específico de cada página -->
    {% block content %}{% endblock %}
</main>

<footer class="footercontent">
    <!-- Rodapé do seu site -->
    <p>&copy; 2024 Meu Site. Todos os direitos reservados.</p>
</footer>

{{ bootstrap.load_js() }}
<!-- Inclua os scripts JavaScript do Bootstrap no final do corpo do documento -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function verificarTamanhoTela() {
        var larguraTela = window.innerWidth;
        var alturaTela = window.innerHeight;

        if (larguraTela <= 991) { 
            document.getElementById("nbarmini").style.display = "block";
            document.getElementById("nbarmax").style.display = "none";
        } else {
            document.getElementById("nbarmini").style.display = "none";
            document.getElementById("nbarmax").style.display = "flex";
        }
    }
    window.onload = verificarTamanhoTela;
    window.onresize = verificarTamanhoTela;
</script>

</body>
</html>
