{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}
{% block content %}

    <h1>Login</h1>
    <form method="POST">
        {{ form.csrf_token }}
        <div>
            {{ form.email.label }}
            {{ form.email(class="form-control") }} {# Adiciona a classe form-control do Bootstrap para estilização #}
            {% for error in form.email.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(class="form-control") }} {# Adiciona a classe form-control do Bootstrap para estilização #}
            {% for error in form.password.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }} {# Adiciona a classe btn btn-primary do Bootstrap para estilização #}
        </div>
    </form>

{% endblock %}