{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}
{% block content %}

<div class="animacao">
    <section>
        <div class="form-box">
            <div class="form-value">
                <form method="POST" action="">
                    {{ form.csrf_token }}
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        {{ form.email.label}}
                        {{ form.email }}
                        {% for error in form.email.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        {{ form.password.label }}
                        {{ form.password }}
                        {% for error in form.password.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="forget">
                        <label for=""><input type="checkbox">Remember Me  <a href="#">Forget Password</a></label>
                    </div>
                        {{ form.submit(class="button") }}
                    <div class="register">
                        <p>Don't have a account <a href="{{url_for('auth.cadastro')}}">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const inputFields = document.querySelectorAll('.inputbox input');
        inputFields.forEach(function(input) {
            input.addEventListener('focus', function() {
                this.parentNode.querySelector('label').classList.add('hidden');
                generate()
            });
            input.addEventListener('blur', function() {
                if (this.value === '') {
                    this.parentNode.querySelector('label').classList.remove('hidden');
                }
            });
        });
    });
</script>
<script>
let container = document.querySelector(".animacao");
for (var i = 0; i <= 80; i++) {
  let blocks = document.createElement("div");
  blocks.classList.add("block");
  container.appendChild(blocks);
}

function circle() {
  let circleBtn = document.querySelector(".circleBtn");
  container.classList.toggle("circle");
}

function generate() {
  anime({
    targets: ".block",
    translateX: function () {
      return anime.random(-700, 700);
    },
    translateY: function () {
      return anime.random(-500, 500);
    },
    scale: function () {
      return anime.random(1, 5);
    },
  });
}

generate();
</script>
{% endblock %}  


